.footer {
  &__container {
    width: 100%;
    background-color: #191824;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--blur {
      width: 100%;
      filter: blur(10px);
      background-color: #0f0e13;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__wrapper {
      padding: 7.5rem 6.6rem 7rem 5.7rem;
      display: flex;
      max-width: 128rem;
    }
  }
  &__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    &--logo {
      font-family: "Squada One";
      font-size: 3.4rem;
      line-height: 2rem;

      color: #ffffff;
    }

    &--desc {
      width: 60%;
      padding-top: 1.234rem;
      p {
        min-width: 31rem;
        opacity: 0.5;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2rem;
        color: #69696b;
      }
    }
  }
  // #69696b
  &__services {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.9rem;
    font-size: 1.4rem;
    > div {
      display: flex;
      flex-direction: column;
      grid-gap: 1.5rem;
      div {
        &:first-child {
          font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 2rem;
          color: #c4c4c4;
        }
        &:last-child {
          padding-top: 1.232rem;
          a {
            padding-bottom: 1.543rem;
            display: flex;
            align-items: center;
            text-align: left;
            text-decoration: none;
            color: #69696b;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__copyright {
    width: 92%;
    max-width: 128.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.987rem;
    font-size: 1.2rem;
    line-height: 20px;
    border-top: 1px solid #333236;
    &--left {
      color: #69696b;
    }
    &--right {
      a {
        padding-left: 0.5rem;
        text-decoration: none;
        color: #69696b;
      }
    }
  }
}

@media (max-width: 1110px) {
  .footer {
    &__services {
      width: 50%;
    }
  }
}
@media (max-width: 910px) {
  .footer {
    &__services {
      width: 80%;
    }
    &__description {
      &--desc {
        p {
          min-width: 24rem;
        }
      }
    }
  }
}
@media (max-width: 893px) {
  .footer {
    &__services {
      width: 80%;
    }
    &__description {
      &--desc {
        p {
          min-width: 16rem;
        }
      }
    }
  }
}

@media (max-width: 621px) {
  .footer {
    &__container {
      &__wrapper {
        flex-direction: column;
        padding: unset;
        padding-top: 5.1rem;
      }
    }
    &__description {
      width: 100%;
      align-items: center;
      &--desc {
        width: 100%;
        p {
          max-width: 22.5rem;
          min-width: unset;

          font-size: 1.2rem;
          line-height: 2rem;

          text-align: center;
        }
      }
      &--logo {
        font-family: "Squada One";
        font-size: 3.4rem;
        line-height: 2rem;
      }
    }
    &__services {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      > div {
        grid-gap: unset;
        div {
          &:first-child {
            font-size: 1.2rem;
            line-height: 2rem;
          }
          &:last-child {
            a {
              justify-content: center;
              font-size: 1.2rem;
              line-height: 2rem;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
    &__copyright {
      flex-direction: column;
      max-width: 24.5rem;
      div {
        &:first-child {
          p {
            font-size: 1.2rem;
            line-height: 2rem;

            width: 32rem;
            text-align: center;
          }
        }
        &:last-child {
          display: flex;
          grid-gap: 1.8rem;
        }
      }
    }
  }
}
