.TitleRouting__mobile {
  display: none;
  .slick-arrow {
    position: absolute;
    top: -3.8rem;
    background: none;
    color: #ffcf53;
    opacity: 1;
  }
  .slick-prev {
    right: 3rem;
    left: auto;
  }
  .slick-next {
    right: 0;
  }
  svg:nth-child(1) {
    transform: rotate(180deg);
    top: -4.8rem;
  }
}
@media (max-width: 1024px) {
  .TitleRouting__mobile {
    width: 70%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 16px;
      color: #e5e5e5;
      margin-bottom: 3rem;
    }
    &--link {
      display: flex;
      justify-content: flex-end;
      a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffcf53;
        cursor: pointer;

        svg {
          width: 1rem;
          height: 1rem;
          margin-left: 4px;
          transform: rotate(0deg) !important;
        }
      }
    }
  }
}
