.createPage {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #16151a;
  &__container {
    width: 77.8478%;
    max-width: 112.1rem;
    text-align: center;
    > p {
      font-size: 4rem;
      line-height: 4.9rem;
      color: #eceff4;
      margin-bottom: 1.5rem;
    }
    span {
      display: block;
      color: #7a797c;
      @include robotoFontSmall;
      max-width: 52.7rem;
      margin: 0 auto;
    }
    &__items {
      display: flex;
      flex-direction: column;
      grid-gap: 9.6rem;

      padding-top: 8.3rem;
      padding-bottom: 14.5rem;

      &__firstPart,
      &__secondPart {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        grid-column-gap: 97px;
        grid-row-gap: 116px;
        div {
          position: relative;
          min-width: 29.4rem;

          height: 27.6rem;
          cursor: pointer;
          background: radial-gradient(
            40% 40% at 50% 50%,
            #cf92cd 0%,
            rgba(255, 255, 255, 0.1) 0.51%,
            rgba(0, 0, 0, 0) 100%
          );

          border: 1px solid #4d4d52;
          box-sizing: border-box;
          border-radius: 20px;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            font-family: "Roboto";
            font-size: 2.1rem;
            line-height: 2.5rem;
            color: #e5e5e5;
            background-color: #16151a;
            padding: 0 1rem;
            position: absolute;
            bottom: -11.5%;
            left: 17%;
          }
        }
      }
      &__secondPart {
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 1155px) {
  .createPage {
    &__container {
      width: 91.8478%;
    }
  }
}

@media (max-width: 990px) {
  .createPage {
    &__container {
      width: 90%;
      &__items__firstPart,
      &__items__secondPart {
        div {
          min-width: 23.1rem;
          height: 21.679rem;
          > svg {
            width: 140px;
            height: 100px;
          }
          p {
            bottom: -15.5%;
            left: 11%;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .createPage {
    &__container {
      width: 98%;
    }
  }
}
@media (max-width: 721px) {
  .createPage {
    &__container {
      &__items {
        grid-gap: 5.621rem;
        &__firstPart,
        &__secondPart {
          flex-direction: column;
          grid-gap: 5.621rem;
          align-items: center;

          div {
            min-width: unset;
            width: 202px;
            height: 188.79px;
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .createPage {
    &__container {
      > p,
      > span {
        display: none;
      }
      &__items {
        padding-top: 5.1rem;
        padding-bottom: 5.2rem;
        &__firstPart,
        &__secondPart {
          div {
            p {
              bottom: -18.5%;
            }
          }
        }
      }
    }
  }
}
