.Selling__container {
  width: 62.5%;
  margin: 10rem auto;
  min-width: 1039px;
  max-width: 120rem;
  &--HomeTopSelingItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-column-gap: 5rem;

    &--items__container {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--img__number {
        display: flex;
        justify-content: center;
        align-items: center;
        &--item__number {
          font-family: Roboto;
          font-size: 1.3rem;
          line-height: 1.5rem;
          color: #60666b;
        }
        &--item__image {
          filter: drop-shadow(0 0 20px rgba(255, 242, 208, 0.3));
        }
      }
      &--description__price {
        display: flex;
        flex-direction: column;
        &--description {
          font-family: Roboto;
          font-weight: 500;
          font-size: 1.6rem;
          color: #ffffff;
          margin-bottom: 1rem;
        }
        &--price {
          font-family: Roboto;
          font-size: 1.3rem;
          color: #60666b;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .Selling__container {
    display: none;
  }
}
