.headerMobileMenu {
  width: 28.4rem;
  height: 58.5rem;
  height: 92%;
  background: #16151a;
  // position: absolute;
  // right: -150%;
  // top: calc(-211% + 1.6rem);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 4.6rem;
  padding-left: 4.5rem;
  // border-top: 2px solid #e3ae23;
  // border-left: 2px solid #e3ae23;
  border: 2px solid #e3ae23;
  box-sizing: border-box;
  border-radius: 2rem 0 0 0;
  animation: moveToLeft 0.55s ease-in-out 1;
  &__blur {
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(39, 42, 47, 0.3);
    z-index: 100;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
  &_searchPart {
    width: 18.7rem;
    display: flex;
    align-items: center;
    padding: 0.887rem 0rem 0.869rem 0;
    gap: 0.399rem;
    border-bottom: 1px solid #c4c4c4;
    input {
      border: none;
      background-color: #16151a;
      color: #757575;
      font-family: "Roboto";
      font-size: 1.4rem;
      line-height: 1.6rem;
      width: 18.7rem;
      max-height: 3.556rem;
      outline: none;
    }
    svg {
      width: 1.84rem;
      height: 1.448rem;
    }
  }
  &_links {
    margin-top: 2.1rem;
    div {
      justify-content: flex-start;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__createButton {
      @include center;
      button {
        color: #ffcf53;
        font-family: "Roboto";
        font-size: 2.1rem;
        line-height: 2.5rem;
        background-color: #16151a;
        border: none;
        margin-left: -0.5rem;
      }
    }
  }
  &_downPart {
    width: 72.88%;
    position: absolute;
    bottom: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
