.filterByPrice {
  position: relative;

  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #b1dff7;

  > div {
    &:first-child {
      display: flex;
      gap: 1rem;

      width: 3.8rem;
      height: 3.8rem;
      @include center;

      > p {
        display: none;
      }
    }
    &:nth-child(2) {
      padding: 1.6rem 1.4rem 1.8rem 2.4rem;
      width: 41.3rem;
      height: 5.4rem;
      background-color: #0f0e13;
      border: 1px solid #60666b;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      border-radius: 1rem;
      left: -975%;
      flex-direction: row;
      gap: 4rem;
      position: absolute;
      top: 120%;
      z-index: 99;

      font-size: 1.2rem;
      color: #eceff4;
      line-height: 1.5rem;
      display: flex;
      max-height: 24.1rem;
      overflow-y: scroll;
      scrollbar-color: #6e757c #0f0e13;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 0.3rem;
      }
      &::-webkit-scrollbar-thumb {
        background: #6e757c;
        border-radius: 5px;
      }

      > svg {
        position: absolute;
        right: 1.8rem;
        cursor: pointer;
      }

      > div {
        display: flex;
        grid-gap: 0.5rem;
        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
          color: #eceff4;
          min-width: 2rem;
        }
      }

      :first-child {
        display: flex;
        align-items: center;
        gap: 1.332rem;
        span {
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: #eceff4;
          margin-right: 1rem;
        }
      }
      :nth-child(2) {
        input {
          width: 3.7rem;
          // width: auto;
          // max-width: 7rem;
          height: 1.6rem;
          // padding-right: 10px;

          font-family: "Roboto";
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: #7d7e83;
          background-color: #0f0e13;
          border: none;
          outline: none;
        }
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #c4c4c4;
      margin: 0;
    }
  }
}

@media (max-width: 672px) {
  .filterByPrice {
    max-width: 16rem;
    > div {
      &:first-child {
        width: 16rem;
        justify-content: unset;
        padding-left: 1.5rem;
        height: 3rem;
        > p {
          display: block;
        }
      }
      &:nth-child(2) {
        width: 34.3rem;
        height: 4rem;

        align-items: center;
        flex-direction: row;

        position: absolute;
        top: 130%;
        left: 0;

        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 420px) {
  .filterByPrice {
    width: 13rem;
    > div {
      &:nth-child(2) {
        grid-gap: 2rem;
        width: 25.3rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
}
