.filterByType {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 1.5rem;

  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;

  width: 13.5rem;
  height: 3.8rem;

  > div {
    &:first-child {
      display: flex;
      grid-gap: 1rem;
      align-items: center;
      height: 100%;
    }
    &:nth-child(2) {
      width: 100%;
      position: absolute;
      top: 120%;
      left: 0;
      z-index: 99;

      background-color: #0f0e13;
      border: 1px solid #60666b;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      border-radius: 1rem;

      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #eceff4;

      display: flex;
      flex-direction: column;

      max-height: 24.1rem;
      overflow-y: scroll;
      scrollbar-color: #6e757c #0f0e13;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 0.3rem;
      }
      &::-webkit-scrollbar-thumb {
        background: #6e757c;
        border-radius: 5px;
      }
      > div {
        display: flex;
        padding: 0.7rem 1.5rem 0.7rem 1.3rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &:first-child {
          padding-top: 2.1rem;
        }
        &:last-child {
          padding-bottom: 1.8rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
          color: #eceff4;
          min-width: 2rem;
          width: 100%;
        }
        span {
          display: block;
          width: 0.42rem;
          height: 0.42rem;
          border-radius: 50%;
          background-color: #f0c659;

          position: absolute;
          right: 1.2rem;
        }
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #c4c4c4;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .filterByType {
    min-width: 10rem;
  }
}
@media (max-width: 672px) {
  .filterByType {
    height: 3rem;
    width: 16rem;
  }
}
@media (max-width: 420px) {
  .filterByType {
    width: 13rem;
    > div {
      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
}