.nftCollectionCard {
  width: 23.777rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }
  &__imgSection {
    height: 24.467rem;
    background-color: #16151a;

    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 0.9rem;
    overflow: hidden;
    &--iconPart {
      top: 0;
      position: absolute;
      width: calc(23.777rem - 3rem);
      padding: 1.6rem 1.5rem 0 1.5rem;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        span {
          padding-left: 0.772rem;
          font-size: 1.2rem;
          line-height: 1.5rem;
          color: #fff;
        }
      }
      svg {
        cursor: pointer;
        color: #312f49;
      }
    }
    &__imgDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23.7rem;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &--noImage {
        width: 12.4rem !important;
        height: 12.1rem !important;
      }
      img {
        width: 80%;
        height: auto;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: center;
        color: #6e757c;
      }

      span {
        position: absolute;
        right: 0.977rem;
        bottom: 1.067rem;

        background: #181721;
        box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.5);
        border-radius: 0.8rem;
        width: 7.5rem;
        height: 2.9rem;
        @include center;

        font-family: "Roboto";
        font-size: 1.2rem;
        line-height: 1.4rem;
        cursor: pointer;
        color: #ffcf53;
      }
    }
  }
  &__infoSection {
    padding: 1.535rem 0 1.571rem 0rem;
    background-color: #fff;

    background: #181721;
    box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    @include center;
    flex-direction: column;
    &--usd_price {
      font-family: "Roboto";
      font-weight: 600;
      font-size: 1.1rem;
      color: #eceff4;
      margin-top: 1.5rem;
    }
    &--container_button {
      display: flex;
      grid-column-gap: 0.8rem;
      margin-top: 0.5rem;
      &--button {
        width: 4.9rem;
        height: 1.7rem;
        background: rgba(177, 223, 247, 0.15);
        border-radius: 1rem;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        margin-top: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b1dff7;
      }
    }
    > div {
      max-height: calc(3.329rem / 2);
      display: flex;
      width: 100%;
      max-width: 20rem;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        padding-bottom: 0.392rem;
        span {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 500;
          color: #ffffff;
        }
        p {
          font-family: "Roboto";
          font-size: 1.3rem;
          line-height: 1.5rem;
          color: #ffcf53;
        }
      }
      &:last-child {
        font-size: 0.9rem;
        line-height: 1.1rem;
        color: #ffffff;
        border-top: 1px solid #60666b;
        span {
          font-size: 7px;
          margin-top: 2px;
          padding: 0 5px;
          svg {
            margin-left: 0.857px;
          }
        }
      }
    }
  }
}
